.App {
  /* text-align: center; */
  background-color: #D9EDDF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Nav {
  height: 100px;
  width: 100%;
  color: aqua;
  background-color: burlywood;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

ul {
  justify-content: space-around;
  /* display: flex; */
  align-items: center;
  list-style: none;
}
